.bg-aqua {
    color: #17a2b8 !important;
}

.bg-blue {
    color: #007bff !important;
}

.bg-dark {
    color: #343a40 !important;
}

.bg-green {
    color: #28a745 !important;
}

.bg-grey {
    color: #6c757d !important;
}

.bg-orange {
    color: #ffc107 !important;
}

.bg-red {
    color: #dc3545 !important;
}

.bg-white {
    color: #fff !important;
}
